back-end/node_modules
back-end/.env
back-end/Authenticator service/.env
back-end/Analytics service/.env
back-end/Data access layer/.env
back-end/QnAOperations service/.env
back-end-micro/AuthenticatorService/node_modules
back-end-micro/AuthenticatorService/.env
back-end-micro/StatisticsService/.env
back-end-micro/StatisticsService/node_modules
back-end-micro/kati.js