/* css sheet for Browse, BrowseUnassigned, MyQuestions and MyAnswers components */

.browse, .my-qna {
  margin-left: auto;
  margin-right: auto;
  margin-top: 2%;
  width: 70%;
  padding: 0.5%;
}

.browse .titles {
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  padding: 0.5%;
  border-radius: 5px;
  background-color: #f5efff;
}

.my-qna .titles {
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  padding: 0.5%;
  border-radius: 5px;
  background-color: #f5efff;
}

.browse .titles h3, .browse .title {
  font-size: 15px;
  text-align: center;
  margin-top: 1%;
  text-decoration: none;
}

.browse .titles h2,
.my-qna .titles h2 {
  font-size: 18px;
  text-align: center;
  margin-top: 0.5%;
}

.browse .inline-divs {
  display: flex;
}

.browse .inline-divs button {
  margin-left: 2%;
}

.browse .input-group {
  margin-top: 1.5%;
  margin-left: 10%;
  margin-right: 10%;
}

.browse .date-search {
  display: flex;
  margin-top: 2%;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.browse .date-search .datepicker {
  margin-left: 2%;
  margin-right: 2%;
}

.filters {
  margin-top: 2%;
  margin-right: 1%;
  margin-left: 2%;
  margin-bottom: 0;
  padding: 0.3%;
  font-size: 14px;
  background-color: #ccc;
  border-radius: 5px;
}

.browse .single-question {
  background-color: #f5efff;
  padding: 0.5%;
  border-radius: 5px;
  margin-bottom: 1%;
  margin-left: auto;
  margin-right: auto;
}

.my-qna .single-question {
  background-color: #f5efff;
  padding: 0.5%;
  border-radius: 5px;
  margin-bottom: 1%;
  margin-left: auto;
  margin-right: auto;
}

.browse .question-body,
.my-qna .question-body {
  padding: 0.25%;
  margin-top: 1%;
  margin-left: auto;
  margin-right: auto;
  width: 95%;
  border: 1px solid #606060;
  border-radius: 5px;
  background-color: white;
}

.browse .question-body p,
.my-qna .question-body p {
  font-size: 14px;
}

.browse .author-on,
.my-qna .author-on {
  font-size: 14px;
  margin-left: 3%;
}

.question-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  padding: 2%;
}

.browse .keyword-list,
.my-qna .keyword-list {
  list-style-type: none;
  margin-left: 1%;
  margin-top: 1%;
  margin-bottom: 0.5%;
}

.browse .single-keyword,
.my-qna .single-keyword {
  display: inline-block;
  font-size: 12px;
  margin-left: 1.5%;
  margin-right: 0.75%;
  border: 1px solid #3B3C36;
  padding: 0.25%;
  border-radius: 3px;
}

#show-more-btn {
  font-size: 14px;
  margin-left: 45%;
}

.browse ::placeholder {
  font-size: 14px;
}

.browse .link {
  color: inherit;
  text-decoration: inherit;
}
