.footer {
  position: fixed;
  bottom: 0;
  right: 255px;
  width: 70%;
  background-color: #d8e2dc;
  text-align: center;
}
.links {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 16px;
}
.names p {
  font-size: 15px;
}
.footer a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
  color: black;
}
.footer a:hover {
  text-decoration: none;
}
