.update-info {
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}

.update-info nav {
  margin-left: 29.5%;
  margin-bottom: 2%;
}

.update-info nav a {
  margin-left: 2%;
  margin-right: 2%;
}
