.navbar {
  padding: 2%;
  width: 70%;
  margin: 1.5% auto;
  border-bottom: 1px solid #ccc;
}
.navbar h1 {
  font-size: 28px;
}
.navbar .logged-links {
  width: 60%;
}
.navbar .notlogged-links {
  width: 70%;
}
.navbar a {
  text-decoration: none;
  margin-left: 1.5%;
  margin-right: 1.5%;
  font-size: 15px;
  color: black;
}
.navbar a:hover {
  text-decoration: none;
}
#newquestion-link {
  padding: 0.5%;
  color: black;
  background-color: #87bdd8;
  border-radius: 8px;
}
