.navbar {
  padding: 2%;
  width: 70%;
  margin: 1.5% auto;
  border-bottom: 1px solid #ccc;
}
.navbar h1 {
  font-size: 35px;
}
.navbar .logged-links {
  width: 60%;
}
.navbar .notlogged-links {
  width: 50%;
}
.navbar a {
  text-decoration: none;
  margin-left: 2%;
  margin-right: 2%;
  font-size: 16px;
  color: black;
}
.navbar a:hover {
  text-decoration: none;
}
