.not-found {
  width: 70%;
  margin-top: 5%;
  margin-left: 15%;
  margin-right: 15%;
  background-color: #baf19c;
  padding: 2%;
  border-radius: 2.5%;
}
.not-found Link {
  margin-top: 2%;
}
.not-found img {
  margin-top: 4%;
  margin-left: 24%;
  width: 42%;
}
