.contact-form {
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
    box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
    border-radius: 4%;
}
.contact Form {
    margin-left: auto;
    margin-right: auto;
    max-width: 85%;
    padding: 3%;
}
.contact .btn-1 {
    font-size: 15px;
    margin-top: 5%;
}
.contact h1 {
    padding: 1%;
    width: 70%;
    margin: 1% auto;
    border-bottom: 1px solid #ccc;
}
.contact h3 {
    font-size: 20px;
}
.contact .label {
    font-size: 15px;
}
.contact img {
    margin-top: 2%;
    margin-left: 75%;
    width: 15%;
    height: 10%;
}
